
.post-header {
  padding: 0px;

  .fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 55px;
    background-color: #90676e;
  }
  .navigation {
    list-style: none;
    margin: 0; 
    
    background: linear-gradient(to bottom, #90676e, #63454d);
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    //-webkit-flex-flow: row wrap;
    justify-content: flex-end;
  }
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 3px;
    margin-right: 50px;
    color: white;
    font-family: Verdana;
  }
  
  .navigation a:hover {
    background-color: #63454d;
    border-radius: 2px;
  }
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      padding: 0;
    }
    
    .navigation a { 
      text-align: center; 
      padding: 30px;
      border-top: 0px solid rgba(255,255,255,0.3); 
      border-bottom: 0px solid rgba(0,0,0,0.1); 
    }
  
    
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }
}
